* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent; 
    -webkit-user-select: none; 
    user-select: none;
    -webkit-touch-callout: none; 
}

html {
    font-size: 16px;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #333;
    background-color: #F0F0F0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}
